/* 组件过渡效果 */
.app-enter {
  opacity: 0;
  transform: translateX(30px);
}

.app-leave-to {
  opacity: 0;
  transform: translateX(-30px);
  position: absolute;
}

.app-enter-active,
.app-leave-active {
  transition: all 0.5s;
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}