@import './normalize.css';
@import './variables.scss';
@import './animation.scss';
@import './sidebar.scss';
@import './lightSidebar.scss';
@import './layout.scss';
@import "./add.scss";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  color: #000;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

#app {
  position: relative;
  width: 100%;
  // max-width: 1920px;
  height: 100vh;
  margin: auto;
  font-size: 16px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

/* 表情包弹出框样式 */
.el-popover.el-popper {
  padding-left: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.face-img {
  margin: 0 10px 10px 0;
  cursor: pointer;
}

#driver-popover-item .driver-popover-footer {
  font-size: 14px;
}

/* element 自定义主题 */

/* 改变主题色变量 */
$--color-primary: #0283d6;
$--color-info: #6c757d;
$--color-success: #1bb99a;
$--color-danger: #ff5d48;
$--color-warning: #f1b53d;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";