.app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  height: 100%;
  margin-left: $sideBarWidth;
  transition: margin-left .3s;
}

.app-main {
  height: calc(100% - 0.5rem);
  padding: 0.2rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #f0f3f4;
}

.common-wrapper {
  background-color: #fff;
}

/* 顶部导航栏固定 */
.fixed-header {
  // position: fixed;
  // width: calc(100% - 2.1rem);
  // top: 0;
  // right: 0;
  z-index: 9;
  transition: width 0.3s ease;
}

/* 菜单栏收起  */
// .hideSidebar .fixed-header {
//   // width: calc(100% - 0.6rem);
// }

/* 导航栏固定后 */
.fixed-header+.app-main {
  height: calc(100vh - 0.5rem);
  // margin-top: 0.6rem;
}

/* 手机模式下 */
.mobile .fixed-header {
  width: 100%;
}