$baseFontColor:#999;
$baseHoverColor: #edf0f5;
$baseBorderColor: #ecf0f3;
// sidebar
$menuText:#bfcbd9;
$menuActiveText:#0283d6;
$subMenuActiveText:#f4f4f5;
$menuBg:#262d33;
// $menuBg:#1e2128;
$menuHover:#263445;
$subMenuBg:#262d33;
// $subMenuBg:#1e2128;
$subMenuHover:#001528;
$sideBarWidth: 210px;

/* 明亮风格 */
$lightMenuText:#000;
$lightMenuBg:#fff;
$lightMenuHover:#ecf5ff;
$lightSubMenuBg:#fff;
$lightSubMenuHover:#ecf5ff;


// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  lightMenuText: $lightMenuText;
  lightMenuBg: $lightMenuBg;
}